* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

main {
    padding: 0 150px;
}

/* banner styles */
.banner {
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    /* background-position: cover; */
    background-size: 100% 100%;
    padding: 150px 150px;
    display: flex;
    justify-content: right;

}
.banner-info {
    width: 500px;
    text-align: right;
    color: #FFFFFF;
}
.banner-title {
    font-weight: 700;
    font-size: 65px;
}
.banner-title, .banner-description {
    margin-bottom: 24px;
}

.btn-primary {
    background: #FFFFFF;
    padding: 20px 25px;
    border-radius: 5px;
    border: 0;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
}

/* failure styles */
.failure {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 130px;
    margin-bottom: 130px;
}

.failure-details {
    margin-left: 40px;
}
.section-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}
.failure-description, .failure-lists {
    color: #444343;
}
.failure-description {
    margin-top: 24px;
    margin-bottom: 16px;
}
.failure-lists li {
    list-style: none;
    margin-top: 16px;
}
.failure-lists .fa-check {
    color: #16D887;
}

/* plans styles */
.plan-container h2 {
    text-align: center;
    margin-bottom: 50px;
}
.plans {
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
}
.plan {
    text-align: center;
}
.plan-title {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}
.plan-description {
    color: #737272;
    font-weight: 500;
    font-size: 25px;
}